<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Death Squad</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />
		<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		{{!-- phaser --}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser-ce/2.10.6/phaser.js"></script>
		{{!-- link to assets --}}
		<script type="text/javascript" src="../../assets/js/boot.js"></script>
		<script type="text/javascript" src="../../assets/js/preloader.js"></script>
		<script type="text/javascript" src="../../assets/js/main.js"></script>
		<script type="text/javascript" src="../../assets/js/level1.js"></script>
		<script type="text/javascript" src="../../assets/js/level2.js"></script>
		<script type="text/javascript" src="../../assets/js/game-over.js"></script>
	
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
